* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../../assets/images/logo2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
