<div #navigationBar><app-navigation_bar></app-navigation_bar></div>
<div #toolbar>
  <mat-toolbar
    style="
      border-bottom: solid;
      border-color: rgb(68, 68, 68);
      border-width: 20px;
    "
  >
    <div style="display: flex; height: 100%; width: 100%; margin-left: 1%">
      <div style="width: 13.66667%; display: flex; align-items: center">
        <img
          class="picture-menu"
          routerLink="{{ this.parent_route }}"
          src="../../assets/images/problem_backwards.png"
        />
      </div>
      <div
        style="width: 20.66667%; display: flex; align-items: center"
        class="small-menu"
        [class.selected-small-menu]="selectedNavItem === 'description_page'"
        (click)="selectNavItem('description_page')"
      >
        Description
      </div>
      <div
        style="width: 16.66667%; display: flex; align-items: center"
        class="small-menu"
        [class.selected-small-menu]="selectedNavItem === 'submissions_page'"
        (click)="selectNavItem('submissions_page')"
      >
        Submissions
      </div>
      <ng-container>
        <div
          *ngIf="!this.course_flag"
          style="width: 16.66667%; display: flex; align-items: center"
        >
          <select
            id="language"
            name="language"
            class="selector-class"
            [(ngModel)]="selectedLanguage"
          >
            <ng-container
              *ngFor="let element of this.language_array; let i = index"
            >
              <option class="option-class" value="{{ element[1] }}">
                {{ element[0] }}
              </option>
            </ng-container>
          </select>
        </div>
      </ng-container>
      <ng-container *ngIf="authService.loggedIn$ | async">
        <div
          *ngIf="!this.course_flag"
          style="width: 16.66667%; display: flex; align-items: center"
        >
          <button class="run-button">Run</button>
        </div>
      </ng-container>
      <ng-container *ngIf="!(authService.loggedIn$ | async)">
        <div
          *ngIf="!this.course_flag"
          style="width: 16.66667%; display: flex; align-items: center"
        >
          <button class="run-button" (click)="submitNotSignedIn()">Run</button>
        </div>
      </ng-container>
      <ng-container>
        <div
          *ngIf="authService.loggedIn$ | async"
          style="width: 16.66667%; display: flex; align-items: center"
        >
          <button class="submit-button">Submit</button>
        </div>
        <div
          *ngIf="!(authService.loggedIn$ | async)"
          style="width: 16.66667%; display: flex; align-items: center"
        >
          <button class="submit-button" (click)="submitNotSignedIn()">
            Submit
          </button>
        </div>
      </ng-container>
    </div>
  </mat-toolbar>
</div>
<div
  [style.height]="this.splitHeight"
  style="
    border-left: solid;
    border-color: rgb(68, 68, 68);
    border-width: 20px;
    height: auto;
  "
>
  <as-split direction="horizontal" gutterSize="0">
    <as-split-area size="50">
      <left-workspace [selectedNavItem]="selectedNavItem"></left-workspace>
    </as-split-area>
    <as-split-area size="50">
      <right-workspace
        [selectedLanguage]="selectedLanguage"
        [code_languages]="this.language_array"
        [initial_codes]="this.initial_codes"
        [initial_language]="this.initial_language"
        [example_array]="this.example_array"
      ></right-workspace>
    </as-split-area>
  </as-split>
</div>
<div style="height: 20px; background-color: rgb(68, 68, 68)"></div>
