::ng-deep
  [_nghost-ng-c4106337314]
  > .as-split-gutter[_ngcontent-ng-c4106337314]
  > .as-split-gutter-icon[_ngcontent-ng-c4106337314] {
  width: 10px !important;
  height: 100% !important;
  background-color: rgb(68, 68, 68) !important;
  background-size: 0.35vw auto !important;
}

::ng-deep
  [_nghost-ng-c4106337314]
  > .as-split-gutter[_ngcontent-ng-c4106337314]
  > .as-split-gutter-icon:hover {
  background-color: rgb(20, 136, 244) !important;
}

mat-toolbar {
  width: 100%;
  height: 100px;
  background-color: rgb(32, 28, 28);
}

.small-menu {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.picture-menu {
  height: 40px;
  cursor: pointer;
}

.selected-small-menu {
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.run-button {
  height: 50px;
  width: 80px;
  font-size: 15px;
  padding: 10px 20px;
  font-weight: bolder;
  background-color: white;
  color: green;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.submit-button {
  height: 50px;
  width: 80px;
  font-size: 12px;
  padding: 10px 20px;
  font-weight: bolder;
  background-color: green;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.selector-class {
  font-size: 20px;
  height: 60px;
  width: 160px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
}

.option-class {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .small-menu {
    font-size: 2vw;
    color: white;
    cursor: pointer;
  }

  .picture-menu {
    height: 4vw;
    cursor: pointer;
  }

  .selected-small-menu {
    text-decoration: underline;
    font-size: 2vw;
    cursor: pointer;
    color: white;
  }

  .run-button {
    height: 7vh;
    width: 8vw;
    font-size: 1.5vh;
    padding: 1vw 2vw;
    font-weight: bolder;
    background-color: white;
    color: green;
    text-align: center;
    text-decoration: none;
    border-radius: 1vb;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .submit-button {
    height: 7vh;
    width: 8vw;
    font-size: 1.2vh;
    padding: 1vw 2vw;
    font-weight: bolder;
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 1vb;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .selector-class {
    font-size: 1vw;
    height: 9vh;
    width: 9vw;
    border-radius: 1vb;
    border: none;
    background-color: black;
    color: white;
  }

  .option-class {
    font-size: 1vw;
  }
}

@media screen and (max-width: 1000px) {
  .small-menu {
    font-size: 2vw;
    color: white;
    cursor: pointer;
  }

  .picture-menu {
    height: 4vw;
    cursor: pointer;
  }

  .selected-small-menu {
    text-decoration: underline;
    font-size: 2vw;
    cursor: pointer;
    color: white;
  }

  .run-button {
    height: 5.5vh;
    width: 8vw;
    font-size: 1.5vh;
    padding: 1vw 2vw;
    font-weight: bolder;
    background-color: white;
    color: green;
    text-align: center;
    text-decoration: none;
    border-radius: 1vb;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .submit-button {
    height: 5.5vh;
    width: 8vw;
    font-size: 1.2vh;
    padding: 1vw 2vw;
    font-weight: bolder;
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 1vb;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .selector-class {
    font-size: 1vw;
    height: 5.5vh;
    width: 9vw;
    border-radius: 1vb;
    border: none;
    background-color: black;
    color: white;
  }

  .option-class {
    font-size: 1vw;
  }
}
