<body>
  <as-split direction="vertical" [gutterSize]="7.5">
    <as-split-area size="75">
      <div
        style="
          border-right: solid;
          border-width: 2vh;
          border-color: rgb(68, 68, 68);
          height: 100vh;
        "
      >
        <ngx-monaco-editor
          [options]="editorOptions"
          [(ngModel)]="code"
        ></ngx-monaco-editor>
      </div>
    </as-split-area>
    <as-split-area size="25">
      <div
        style="
          border-right: solid;
          border-width: 2vh;
          border-color: rgb(68, 68, 68);
          height: 100vh;
        "
      ></div>
    </as-split-area>
  </as-split>
</body>
