<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<app-navigation_bar></app-navigation_bar>
<body>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr class="problem-title">
          <th class="problems-header">
            <img
              src="../../assets/images/problem_backwards.png"
              class="image-button"
              routerComing
              routerLink="/math"
            />
          </th>
          <th colspan="2" class="problems-header">
            {{ this.course_title }} problems
          </th>
          <th></th>
        </tr>
        <tr class="problem-header">
          <th class="problems-header3">Title</th>
          <th class="problems-header3">Problem status</th>
          <th class="problems-header3">Difficulty</th>
          <th class="problems-header3">Solution</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let value of problemArray; let i = index">
          <tr class="problem-body">
            <td
              class="problems-name"
              routerLink="{{ this.router.url }}/{{ i }}"
            >
              {{ i + 1 }}. {{ value["title"] }}
            </td>
            <ng-container>
              <td
                *ngIf="authService.loggedIn$ | async"
                class="problems-not-solved"
              >
                Not solved
              </td>
              <td
                *ngIf="!(authService.loggedIn$ | async)"
                class="problems-not-signed"
              >
                You are currently logged out
              </td>
            </ng-container>
            <td
              [ngClass]="{
                'problems-easy': value['difficulty'] == 'Easy',
                'problems-medium': value['difficulty'] == 'Medium',
                'problems-hard': value['difficulty'] == 'Hard'
              }"
            >
              {{ value["difficulty"] }}
            </td>
            <td class="problems-solution-coming">
              <button
                class="youtube-button"
                (click)="openSolutionDialog(value['video_id'])"
              >
                <i
                  class="fa fa-youtube-play"
                  style="font-size: 2.5vw; color: white"
                ></i>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</body>
