body {
  background-color: rgb(32, 28, 28);
  height: 100vh;
}

.image-button {
  height: 7vh;
  cursor: pointer;
}

.table-wrapper {
  display: flex;
  justify-content: center;
}

table {
  width: 80vw;
  height: auto;
}

thead {
  height: 10vh;
  border-bottom: solid;
  border-bottom-color: rgb(174, 129, 255);
}

.problem-title {
  width: 100%;
  height: 30vh;
}

.problem-header {
  width: 100%;
  height: 10vh;
}

.problems-header {
  width: 33.33%;
  font-size: 3vw;
  text-align: center;
  color: rgb(253, 151, 31);
}

.problems-header2 {
  width: 33.33%;
  font-size: 3vw;
  text-align: center;
  color: rgb(102, 217, 239);
}

.problems-header3 {
  width: 33.33%;
  font-size: 2vw;
  text-align: center;
  color: rgb(253, 151, 31);
}

.problems-header4 {
  width: 33.33%;
  font-size: 2vw;
  text-align: center;
  color: rgb(102, 217, 239);
}

.problems-name {
  width: 33.33%;
  font-size: 2vw;
  text-align: center;
  color: rgb(253, 151, 31);
  cursor: pointer;
}

.problems-name2 {
  width: 33.33%;
  font-size: 2vw;
  text-align: center;
  color: rgb(102, 217, 239);
  cursor: pointer;
}

.problems-name:hover {
  color: rgb(255, 220, 100);
}

.problems-name2:hover {
  color: rgb(170, 255, 255);
}

.problems-not-solved {
  width: 33.33%;
  font-size: 2vw;
  text-align: center;
  color: red;
}

.problems-not-signed {
  width: 33.33%;
  font-size: 2vw;
  text-align: center;
  color: rgb(253, 151, 31);
}

.problems-not-signed2 {
  width: 33.33%;
  font-size: 2vw;
  text-align: center;
  color: rgb(102, 217, 239);
}

.problems-solved {
  width: 33.33%;
  font-size: 2vw;
  text-align: center;
  color: green;
}

.problems-solution-coming {
  width: 33.33%;
  font-size: 2vw;
  text-align: center;
  color: rgb(253, 151, 31);
}

.problems-solution-coming2 {
  width: 33.33%;
  font-size: 2vw;
  text-align: center;
  color: rgb(102, 217, 239);
}

.problem-body {
  width: 100%;
  height: 7vh;
  border-bottom: solid;
  border-bottom-color: rgb(50, 45, 45);
}

.problems-body {
  width: 33.33%;
  font-size: 1.5vw;
  text-align: center;
  color: rgb(253, 151, 31);
}

.problems-body2 {
  width: 33.33%;
  font-size: 1.5vw;
  text-align: center;
  color: rgb(102, 217, 239);
}

.youtube-button {
  border: none;
  background: none;
}

i {
  cursor: pointer;
}

.fa.fa-youtube-play:hover {
  color: red !important;
}

tbody tr:nth-child(even) {
  background-color: rgb(50, 45, 45); /* Set the background color for odd rows */
}
