<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<body>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr class="problem-title">
          <th
            [ngClass]="{
              'problems-header': course_flag,
              'problems-header2': !course_flag
            }"
          >
            <ng-container>
              <img
                *ngIf="course_flag"
                src="../../assets/images/math_backwards.png"
                class="image-button"
                routerComing
                routerLink="/math"
              />
              <img
                *ngIf="!course_flag"
                src="../../assets/images/programming_backwards.png"
                class="image-button"
                routerComing
                routerLink="/programming"
              />
            </ng-container>
          </th>
          <th
            [ngClass]="{
              'problems-header': course_flag,
              'problems-header2': !course_flag
            }"
          >
            {{ this.course }} problems
          </th>
          <th></th>
        </tr>
        <tr class="problem-header">
          <th
            [ngClass]="{
              'problems-header3': course_flag,
              'problems-header4': !course_flag
            }"
          >
            Title
          </th>
          <th
            [ngClass]="{
              'problems-header3': course_flag,
              'problems-header4': !course_flag
            }"
          >
            Proglem status
          </th>
          <th
            [ngClass]="{
              'problems-header3': course_flag,
              'problems-header4': !course_flag
            }"
          >
            Solution
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let i of rangeArray">
          <tr class="problem-body">
            <td
              [ngClass]="{
                'problems-name': course_flag,
                'problems-name2': !course_flag
              }"
            >
              {{ i + 1 }}. Problem
            </td>
            <ng-container>
              <td
                *ngIf="authService.loggedIn$ | async"
                class="problems-not-solved"
              >
                Not solved
              </td>
              <td
                *ngIf="!(authService.loggedIn$ | async)"
                [ngClass]="{
                  'problems-not-signed': course_flag,
                  'problems-not-signed2': !course_flag
                }"
              >
                You are currently logged out
              </td>
            </ng-container>
            <td
              [ngClass]="{
                'problems-solution-coming': course_flag,
                'problems-solution-coming2': !course_flag
              }"
            >
              <ng-container>
                <button class="youtube-button" (click)="openSolutionDialog()">
                  <i
                    *ngIf="course_flag"
                    class="fa fa-youtube-play"
                    style="font-size: 2.5vw; color: rgb(253, 151, 31)"
                  ></i>
                </button>
                <button class="youtube-button" (click)="openSolutionDialog()">
                  <i
                    *ngIf="!course_flag"
                    class="fa fa-youtube-play"
                    style="font-size: 2.5vw; color: rgb(102, 217, 239)"
                  ></i>
                </button>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</body>
