<body>
  <div
    [ngClass]="{
      'problems-title': isFlagTrue,
      'problems-title2': !isFlagTrue
    }"
  >
    <ng-container>
      <img
        *ngIf="isFlagTrue"
        src="../../assets/images/math_backwards.png"
        class="image-button"
        routerLink="/math"
      />
      <img
        *ngIf="!isFlagTrue"
        src="../../assets/images/programming_backwards.png"
        class="image-button"
        routerLink="/programming"
      />
    </ng-container>
    <div class="problems-title-text">{{ this.course }} problems</div>
  </div>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr class="problem-header">
          <th
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Title
          </th>
          <th
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Status
          </th>
          <th
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Solution
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="problem-body">
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Problem1
          </td>
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Not solved
          </td>
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Link1
          </td>
        </tr>
        <tr class="problem-body">
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Problem2
          </td>
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Not solved
          </td>
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Link2
          </td>
        </tr>
        <tr class="problem-body">
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Problem3
          </td>
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Not solved
          </td>
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Link3
          </td>
        </tr>
        <tr class="problem-body">
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Problem4
          </td>
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Not solved
          </td>
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Link4
          </td>
        </tr>
        <tr class="problem-body">
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Problem5
          </td>
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Not solved
          </td>
          <td
            [ngClass]="{
              'problems-header': isFlagTrue,
              'problems-header2': !isFlagTrue
            }"
          >
            Link5
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
